header, section form {
  text-align: center;
}

body {
  background-color: #474A50;
  color: #D27D89;
  font-family: 'Open Sans', sans-serif;
}

.column1 ,section ul {
  border-radius: 75px 75px 75px 75px;
  width: 25%;
  margin: 2%;
  padding: 2%;
  text-align: center;
  background-color: #C5A88F;
  color: #B7124C;
  float: left;
}

.column2, section ul {
  border-radius: 75px 75px 75px 75px;
  width: 25%;
  margin: 2%;
  padding: 2%;
  text-align: center;
  background-color: #C5A88F;
  color: #B7124C;
  float: left;
}

.column3, section ul {
  border-radius: 75px 75px 75px 75px;
  width: 25%;
  margin: 2%;
  padding: 2%;
  text-align: center;
  background-color: #C5A88F;
  color: #B7124C;
  float: left;
}

.done {
  text-decoration: line-through;
  color: #C57E3A;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  text-align: center;
}

li {
  padding: 1% 0;
}

ul input, ul img {
  margin: 0 5%;
}

div ul {
  width: 25%;
  margin: 2% auto;
  padding: 2%;
  text-align: center;
  background-color: #C5A88F;
  color: #B7124C;
}
